<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Export Assets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MACOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C13E389B1C6DAEC000BFF147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16A29D91C683E7C00D94D4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16A29F61C683E7C00D94D4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16A2A011C683E7C00D94D4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18F96D21C6901010061DECD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18F96EC1C6901010061DECD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18F96F71C6901010061DECD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
